

<div  class="flex col justify-center align-center">
  <button (click)="onClick()">Bunton</button>
  <h1 class="text-center">The Legend of Soltar</h1>
  <div class=" flex col justify-center align-center ml-100" >
    <app-deck ></app-deck>
    
    <hr style="margin:120px;">
      <div class="flex row " *ngFor="let stack of cardColumns; index as i">
        <div style="position:absolute" [ngStyle]="positionMod(i)">
          <app-card-stack [stack]="stack" ></app-card-stack>
        </div>
          
      </div>
  </div>
</div>
<router-outlet></router-outlet>
