/* You can add global styles to this file, and also import other style files */
*{
    background-color: transparent;
}

.card-image {
    height: 125px;
    width:100px;
    position:absolute;
}
.deck-card-image {
    position: absolute;
    height: 125px;
    width:100px;
    border: .1px;
    
}
.absolute {
    position: absolute;
}
.m-10 {
    margin:10px;
}
.ml-100{
    margin-left:100px;
}
.human-resources {
    margin:100px;
}
.justify-right{
    justify-content: right;
}
.justify-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-around {
    justify-content: space-around;
}
.justify-left {
    justify-content: left;
}
.justify-start {
    justify-content: flex-start;
}
.align-start {
    align-items: flex-start;
}
.align-center {
    align-items: center;
}
.text-center {
    text-align:center; 
}
.flex {
    display:flex;
}
.row {
    flex-flow:row wrap;
}
.col {
    flex-flow:column wrap;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.bdr-b {
    border: 1px solid blue;
}
.bdr-r {
    border: 1px solid red;
}
.bdr {
    border: 1px solid black;
}
.w-100 {
    width:100%;
}
.box-500 {
    height: 500px;
    width: 500px;
}
.box-400 {
    height: 400px;
    width: 400px;
}
.box-200{
    height: 200px;
    width: 200px;
}
